*{
    margin: 0;
    padding: 0;
  }
  body{
    font-size: 30px;
    font-family: sans-serif;
    /*background: #3006eb;*/
    background: linear-gradient(to right, #1cd8d2, #93edc7);
    color: white;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .div{
     box-shadow: 10px 10px 10px rgba(3, 0, 0, 0.2);
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #f32a66, #fc7ac6);
    color: white;
    margin: 100px 0;
    border-radius: 7px;
  }
  .center{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  *{
    margin: 0px;
    padding: 0px;
}
.bgimage{
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),url("BG.jpg");
    background-size: 100%;
    width: 100%;
    height: 100vh;
}
.menu{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);
}
.leftmenu{
    width: 20%;
    line-height: 100Px;
    float: left;
}
.leftmenu h4{
    padding-left: 70px;
    font-weight: bold;
    color: white;
    font-size: 22px;
    font-family: 'montserrat', sans-serif;
}
.rightmenu{
    width: 70%;
    height: 100Px;
    float: right;
}
.rightmenu ul{
    margin-left: 200px;
}
.rightmenu ul li{
    display: inline-block;
    font-family: 'montserrat', sans-serif ;
    list-style: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 100px;
    margin-left: 40px;
    text-transform: uppercase;
    cursor: pointer;
}
.rightmenu ul li:hover{
    color: #00ccff;
}
#firstlist{
   color: #00ccff; 
}
.text{
    width: 100%;
    margin-top:185px ;
    text-transform: uppercase;
    text-align: center;
    color: white;

}

.text h1{
    font-size: 62px;
    font-family: 'montserrat', sans-serif ;
    font-weight: 700px;
    margin: 14px 0px;
}
.text h3{
    font-size: 15px;
    font-family: 'open sans', sans-serif;
}
.btn{
    background-color: rgba(255,255,255, 0.164);
    color: white;
    font-family: 'montserrat', sans-serif ;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    width: 150px;
    margin-top: 25px;
    border: 3px solid white;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
}

  
  